*{
    font-family:inherit;
}
body{
    background-color:rgb(68, 68, 78);
}
h1{
    display: flex;
    color:rgb(143, 145, 124);
    justify-content:center;
}

header nav ul{
    display: flex;
    list-style-type: none;
    font-size:20px;
    justify-content: center;
}
header nav li{
    display:inline-block;
    padding-right:30px;
    
}
a:visited, a:link, a:active{
    color:rgb(143, 145, 124);
    text-decoration:none;
}
a:hover{
    color:darkblue;
}
#mainlogo{
display: flex;
justify-content: center;
}
.logo{
    width: 20%;
}

h2{
    text-align:center;
}
.me{
    top:50%; 
    width:10%;
    height:10%;
}
section{
    color:white;
    position:absolute;
    top:80%;
}