*{
    font-family:inherit;
    background
}
main{
    background-image: url('https://i.gifer.com/sbs.gif');
    background-size:cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
body{
    background-color: black;
}



a:visited, a:link, a:active{
    color:red;
}
a:hover{
    color:darkblue;
}